.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgb(70, 70, 70);
  background-color: rgba(82, 82, 82, 0.4);
}

.modal-content {
  background-color: #eeeeee;
  margin: auto;
  margin-top: 15vh;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 18px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: modalup .7s ease-in-out;
}

@keyframes modalup {
  0% {
    transform: translateY(100%);
    opacity: .5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.modal-hide{
  display: none;
  animation: modaldown .7s ease-in-out;
}

@keyframes modaldown {
  0% {
    transform: translateY(100%);
    opacity: .5;
  }
  100% {
    transform: translateY(1200%);
    opacity: 1;
  }
}

.modal-title{
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal-list{
  padding: 2%;
  overflow-y: auto;
  max-height: 60vh;
  width: 100%;
  border-radius: 12px;
}

.modal-btn{
  display: flex;
  justify-content: space-between;
  margin: 3%;
}

.modal-btn button{
  color: white;
  text-transform: capitalize;
  width: 150px;
  font-size: 1.2rem;
  border-radius: 12px;
  padding: 3% 5%;
  border: 2px solid rgba(128, 128, 128, 0.4);
  margin: 3%;
}

.send-list{
  background-color: red;
}

.close {
  background-color: #0336FF;
}

.close:hover,
.close:focus {
  color: white;
  background-color: #1c49fbef;
  text-decoration: none;
  cursor: pointer;
}
