* {
  box-sizing: border-box;
}

body{
  font-family: 'ABeeZee', sans-serif;
  margin: 0 auto;
  background-color: #eeeeee;
}

header {
  color:white;
  background-color: #0336FF;
  height: 8vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  font-weight: lighter;
  text-shadow: 1px 1px darkblue;
  z-index: 999;
}

.logo{
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  font-weight: lighter;
  text-shadow: 1px 1px darkblue;
}

.logo a{
  text-decoration: none;
  color: white;
}

.row{
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.code-block{
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-bar{
  width: 5%;
  min-width: 50px;
  height: 70%;
  background-color: #FFDE03;
  position: absolute;
}

.bar-one{
  bottom: 5vh;
}

.bar-two{
  right: 0;
  top: -8vh;
}

.blue-btn-block{
  width: 100%;
  height: 12vh;
  background-color: #0336FF;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  padding: 2.5vh;
}

.blue-btn-block button{
  width: 30%;
  margin: 0.5%;
  color: white;
  font-size: 1.5rem;
  background-color: #FF1744;
  border: 2px solid rgb(156, 22, 62);
  border-radius: 18px;
}

.blue-btn-block button:hover{
  background-color: #ff288c;
  cursor: pointer;
}

.blue-btn-block button:active{
  transform:translate(2px, 1px);
}

.title{
  background-color: white;
  padding: 1% 5%;
  position: relative;
}

.red-circle {
  background-color: #ff1744;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  right: 5%;
  cursor: pointer;
}

.red-circle:hover {
  background-color: #ff2f58f1;
}

.red-circle img{
  width: 70%;
  padding: 1%;
}

.map-row{
  background-color: white;
  padding: 0 2.5% 5%;
}

.current-map{
  height: 60vh;
  border: 1px solid lightgray;
  border-radius: 18px;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 2%;
}

.row-item{
  margin: 10px;
  background-color: #f5f5f5;
  border-radius: 12px;
  border: 1px solid lightgray;
  font-size: .9rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.cover {
  width: 50%;
  max-height: 250px;
  border-radius: 12px;
}

.tag {
  position: absolute;
  border-radius: 12px;
  padding: 1% 2%;
  left: 3%;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 900;
  color: white;
}

.online{
  background-color: #0335ffe5;
}

.local{
  background-color: #ff1745e7;
}

.row-content{
  padding: 2% 3%;
  margin: 0 auto;
}

.view-on-meetup {
  text-decoration: none;
  font-style: italic;
  color: #ff1744;
  font-weight: bolder;
}

.save {
  width: 25px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.save:hover {
  cursor: pointer;
  transform: translate(1px, 1px);
}

footer .bottom-nav {
  width: 100%;
  color:white;
  background-color: #0336FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 8vh;
  position: sticky;
}

.bottom-nav img {
  width: 30px;
  height: 30px;
}

.saved {
  background-color: #0336FF;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: white;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.saved:hover {
  background-color: #1c49fbef;
  cursor: pointer;
}

.saved img{
  width: 50%;
  padding: 10%;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(157, 166, 170, 0.5);
  z-index: 1;
}
.loader-spinner {
  border: 8px solid #f2f2f2;
  border-radius: 50%;
  border-top: 8px solid #FF1744;
  width: 70px;
  height: 70px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide {
  display: none;
}

@media only screen and (max-width: 1024px) {

  header{
    height: 8vh;
  }

  .row{
    width: 100%;
  }

  .code-block{
    height: 35vh;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .blue-btn-block{
    flex-wrap: wrap;
    justify-content: space-around;
    height: 10vh;
    padding: 2%;
  }

  .modal-content {
    width: 90%;
    height: 85vh;
  }

}

@media only screen and (max-width: 812px) {

  .code-block{
    height: 35vh;
  }

  .list {
    grid-template-columns: repeat(1, auto);
  }

  .modal-content {
    height: 88vh;
  }

  .modal-list{
    height: 50vh;
    max-height: 50vh;
  }
}

@media only screen and (max-width: 600px) {
  header{
    height: 10vh;
  }

  .code-block{
    height: 68vh;
    font-size: 1.8rem;
    line-height: 4rem;
  }

  .list {
    grid-template-columns: repeat(1, auto);
  }

  .row-item{
    font-size: .7rem;
  }

  .title{
    font-size: 90%;
  }

  .blue-btn-block{
    flex-wrap: wrap;
    justify-content: space-around;
    height: 22vh;
    padding: 5%;
  }

  .blue-btn-block button{
    width: 70%;
    margin: 2%;
  }

  .modal-btn{
    margin: 1% 0 2% 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .modal-content {
    max-height: 85vh;
    width: 98%;
  }

  .modal-list{
    max-height: 60vh;
  }

  .saved {
    width: 60px;
    height: 60px;
  }

  .saved img{
    width: 83%;
    padding: 17%;
  }

  .saved h6 {
    display: none;
  }
}
